<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<!-- 商品服务 + 重试 2 次 500ms -->
    <sub-flow name="call-product-retry">
        <until-successful maxRetries="2" millisBetweenRetries="500">
            <logger message="GET /products/{sku} (external call)" level="INFO"/>
        </until-successful>
    </sub-flow>

    <!-- 支付服务 + 重试 2 次 500ms -->
    <sub-flow name="call-payment-retry">
        <until-successful maxRetries="2" millisBetweenRetries="500">
            <logger message="POST /payments (external call)" level="INFO"/>
        </until-successful>
    </sub-flow>

    <sub-flow name="deliver-downstream">
        <logger message="Downstream delivered" level="INFO"/>
    </sub-flow>
	</mule>
